body {
    background-image: url('./media/heartbg.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#yes_button {
    color: black;
    width: 150px;
    height: 50px;
    background-color: white;
    margin: 10px;
    margin-top: 20px; 
}

#no_button {
    color: black;
    width: 150px;
    height: 50px;
    background-color: white;
}


